{% extends 'base.html' %}


{% block content %}
  <div class="login-form">
    <h1>{% block title %}Register{% endblock %}</h1>
    <form method="post">
      <label for="username">Username</label>
      <input name="username" id="username" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <label for="cpassword">Confirm Password</label>
      <input type="password" name="cpassword" id="cpassword" required>
      <input type="submit" value="Register">
    </form>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
  </div>
{% endblock %}